<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="title='RC_Sheet'">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/sheet/sheet.css}">
</th:block>
<th:block layout:fragment="js">
    <script type="text/javascript" th:src="@{/js/speaking/speech.js}"></script>
</th:block>


<div layout:fragment="content">
    <div class="container">
    <!--level 1 (Question1, 2)-->
        <div class="py-5" th:if="${question.getQuestionType().toString().equals('SPK_PART1')}">
            <div>
                    <p>Directions:<br/>
                    In this part of the test, you will read aloud the text on the screen.<br/>
                    You will have 45 seconds to prepare.<br/>
                    Then you will have 45 seconds to read the text aloud</p>
            </div>
            <div>
                <audio controls><source type="audio/mp3" th:src="@{'/audio/' + ${question.recording}}"></audio>
            </div>
            <div>
                <img th:src="@{'/images/spk_images/' + ${question.image}}" class="img" >
            </div>
        </div>
        <!--level 2 (Question3)-->
        <div class="py-5" th:if="${question.getQuestionType().toString().equals('SPK_PART2')}">
            <div>
                <p>Directions:<br/>
                    In this part of the test, you will describe the picture on your screen in as much detail as you can.<br/>
                    You will have 30 seconds to prepare your response.<br/>
                    Then you will have 45 seconds to speak about the picture.</p>
            </div>
            <div>
                <audio controls><source type="audio/mp3" th:src="@{'/audio/' + ${question.recording}}"></audio>
            </div>
            <div>
                <img th:src="@{'/images/spk_images/' + ${question.image}}" class="img" >
            </div>
        </div>

        <div id="ViewTimer"></div>
        <button id="speech-btn" type="button" class="btn btn-primary">녹음</button>
        <div>
            <form th:action="@{/speech_result}" method="post">
                <input type="hidden" name="id" th:value="${question.id}" id="question-id">
                <!--<input name="speech" id="" value="" style="width: 600px; height: 100px;">-->
                <!--<textarea name="speech" id="speech-textarea" value="" style="width: 600px; height: 100px;"></textarea>-->
                <textarea name="speech" id="speech-textarea" style="width: 600px; height: 100px;"></textarea>
                <button type="submit" class="btn btn-primary">제출</button>
            </form>
        </div>
    </div><!--container-->
</div>

</html>